# LLM Configuration
MODEL=gemini-3.1-pro-preview

# GCP Configuration
PROJECT_ID=your-project-id
LOCATION=us-central1
GEMINI_API_KEY=your-api-key

# Multi-Cloud Configuration (Optional)
# TARGET_CLOUD=gcp # options: gcp, azure (for future extension)
